
<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="error">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> {{error}}
</div>
<div class="row">
   <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
      <h4 *ngIf="processModels.length < 1">Es gibt keine Prozesse, die Sie starten können!</h4>
      <table class="table table-striped" *ngIf="processModels.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Beschreibung</th>
               <th>Erstelldatum</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let processModel of processModels">
               <td>{{ processModel.pmId }}</td>
               <td>{{ processModel.name }}</td>
               <td>{{ processModel.description }}</td>
               <td>{{ processModel.createdAt | commaDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
            </tr>
         </tbody>
      </table>
   </ba-card>
</div>
