<!-- Sidenav-left opened-->
<div class="row">
    <md-sidenav class="sidenav-left-opened" md-is-open="true" md-component-id="sidenav-left" md-whiteframe="4"
                md-disable-backdrop="false">
        <md-toolbar class="md-theme-indigo md-toolbar-tools">
            <div flex>Pallet</div>
            <md-button class="md-icon-button" ng-click="sl.toogleSidenav()">
                <md-icon>menu</md-icon>
            </md-button>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <content-list-item item-name="Basic elements">

                    <basic-element-selector></basic-element-selector>

                </content-list-item>

                <content-list-item item-name="Message types">

                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>Create a new message type</md-button>
                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>View message types</md-button>

                </content-list-item>

                <content-list-item item-name="Navigation">

                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>Change view</md-button>
                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>Change subject</md-button>

                </content-list-item>

                <content-list-item item-name="Actions">

                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>
                        <md-icon>insert_drive_file</md-icon>
                        <span>New file</span>
                    </md-button>
                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>
                        <md-icon>folder</md-icon>
                        <span>Open existing XML file</span>
                    </md-button>
                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>
                        <md-icon>file_download</md-icon>
                        <span>Save as XML</span>
                    </md-button>
                    <md-button class="md-button sidenav-left-content-list-item-md-button" flex>
                        <md-icon>photo</md-icon>
                        <span>Save as SVG</span>
                    </md-button>

                </content-list-item>

            </md-list>
        </md-content>
    </md-sidenav>
</div>

<!-- Sidenav-left closed-->
<div class="sidenav-left-closed sidenav-left-closed-toogle" md-whiteframe="4" ng-hide="sl.sideNavOpened()">
    <md-toolbar class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="sl.toogleSidenav()">
            <md-icon>menu</md-icon>
        </md-button>
    </md-toolbar>
</div>
