/.gradle/
/bin/
/build/
/.metadata/
/RemoteSystemsTempFiles/.project

metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

#Log
*.log
.log

# Code Recommenders
.recommenders/
node_modules
*.map
/GUI/src/main/webapp/app/*.js
/ProcessModelStorage/.idea/compiler.xml
/ProcessModelStorage/.idea/gradle.xml
/ProcessModelStorage/.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
/ProcessModelStorage/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_7.xml
/ProcessModelStorage/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_7.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_classmate_1_3_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_classmate_1_3_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_8_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_github_andrewoma_dexx_collection_0_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_github_jsonld_java_jsonld_java_0_8_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_google_guava_guava_19_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_h2database_h2_1_4_193.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_jayway_jsonpath_json_path_2_2_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__commons_cli_commons_cli_1_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__commons_codec_commons_codec_1_10.xml
/ProcessModelStorage/.idea/libraries/Gradle__commons_codec_commons_codec_1_9.xml
/ProcessModelStorage/.idea/libraries/Gradle__commons_io_commons_io_2_5.xml
/ProcessModelStorage/.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/ProcessModelStorage/.idea/libraries/Gradle__dom4j_dom4j_1_6_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__io_jsonwebtoken_jjwt_0_7_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_annotation_jsr250_api_1_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_el_el_api_2_2.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_enterprise_cdi_api_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_transaction_javax_transaction_api_1_2.xml
/ProcessModelStorage/.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__junit_junit_4_12.xml
/ProcessModelStorage/.idea/libraries/Gradle__mysql_mysql_connector_java_5_1_40.xml
/ProcessModelStorage/.idea/libraries/Gradle__net_minidev_accessors_smart_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__net_minidev_json_smart_2_2_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_commons_commons_csv_1_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_2.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_cache_4_5_2.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_4.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_5.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_arq_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_base_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_core_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_iri_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_shaded_guava_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_jena_jena_tdb_3_1_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_thrift_libthrift_0_9_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_5_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_5_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_aspectj_aspectjweaver_1_8_9.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_assertj_assertj_core_2_5_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_atteo_evo_inflector_1_2_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_hibernate_core_5_2_4_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_hibernate_entitymanager_5_0_11_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_2_4_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_3_1_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_javassist_javassist_3_20_0_GA.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_jboss_jandex_2_0_0_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_1_spec_1_0_0_Beta1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_json_json_20140107.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_ow2_asm_asm_5_0_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_3_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_21.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_21.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_21.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_21.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_rest_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_1_4_2_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_commons_1_12_5_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_10_5_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_core_2_5_5_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_webmvc_2_5_5_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_hateoas_spring_hateoas_0_20_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_aop_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_aspects_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_beans_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_context_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_core_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_expression_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_jdbc_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_orm_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_test_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_tx_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_web_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_4_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_yaml_snakeyaml_1_17.xml
/ProcessModelStorage/.idea/libraries/Gradle__xerces_xercesImpl_2_11_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__xml_apis_xml_apis_1_4_01.xml
/ProcessModelStorage/.idea/misc.xml
/ProcessModelStorage/.idea/modules.xml
/ProcessModelStorage/.idea/modules/-307178515/SpringCommons.iml
/ProcessModelStorage/.idea/modules/-307178515/SpringCommons_main.iml
/ProcessModelStorage/.idea/modules/-307178515/SpringCommons_test.iml
/ProcessModelStorage/.idea/modules/-640155183/Persistence.iml
/ProcessModelStorage/.idea/modules/-640155183/Persistence_main.iml
/ProcessModelStorage/.idea/modules/-640155183/Persistence_test.iml
/ProcessModelStorage/.idea/modules/ProcessModelStorage.iml
/ProcessModelStorage/.idea/modules/ProcessModelStorage_main.iml
/ProcessModelStorage/.idea/modules/ProcessModelStorage_test.iml
/ProcessModelStorage/.idea/workspace.xml
/ProcessModelStorage/src/main/main.iml
/ProcessModelStorage/src/test/test.iml
/ProcessModelStorage/.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_9.xml
/ProcessModelStorage/.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_9.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_8_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_8_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_fasterxml_jackson_module_jackson_module_parameter_names_2_8_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/ProcessModelStorage/.idea/libraries/Gradle__net_sf_opencsv_opencsv_2_3.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_6.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_11.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_11.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_11.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_5_11.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_5_11.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_assertj_assertj_core_2_6_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_3_4_Final.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_javassist_javassist_3_21_0_GA.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_skyscreamer_jsonassert_1_4_0.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_22.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_22.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_22.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_22.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_rest_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_autoconfigure_1_5_1_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_commons_1_13_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_11_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_core_2_6_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_data_spring_data_rest_webmvc_2_6_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_hateoas_spring_hateoas_0_23_0_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_aop_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_aspects_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_beans_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_context_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_core_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_expression_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_jdbc_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_orm_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_test_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_tx_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_web_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_6_RELEASE.xml
/ProcessModelStorage/.idea/modules/Gateway.iml
/ProcessModelStorage/.idea/modules/Gateway_main.iml
/ProcessModelStorage/.idea/modules/Gateway_test.iml
/ProcessModelStorage/.idea/vcs.xml
