<div class="alert alert-info alert-dismissible fade in" [class.alert-danger]="msg.type === 'error'" [class.alert-success]="msg.type === 'success'" role="alert" *ngIf="msg">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    {{msg.text}}
</div>
<div class="row">
   <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
      <h4 *ngIf="processModels.length < 1">Es gibt keine Prozesse, die Sie starten können!</h4>
      <table class="table table-striped" *ngIf="processModels.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Beschreibung</th>
               <th>Erstelldatum</th>
               <th>Aktion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let processModel of processModels">
               <td>{{ processModel.pmId }}</td>
               <td>{{ processModel.name }}</td>
               <td>{{ processModel.description }}</td>
               <td>{{ processModel.createdAt | commaDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
               <td><button class="btn btn-primary btn-sm" (click)="startProcess(processModel.pmId)">Start</button></td>
            </tr>
         </tbody>
      </table>
   </ba-card>

   <!-- <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="startProcessModal" id="startProcessModal" aria-hidden="true">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
           <h4 class="modal-title">Starte Prozess "{{selectedProcessModel.name}}"</h4>
         </div>
         <div class="modal-body">
           <form #assignmentForm="ngForm">
            <div class="form-group">
              <div *ngFor="let assignment of possibleUserAssignments">
                <label>{{assignment.groupName}}</label>
                <select class="form-control" [(ngModel)]="selectedUserAssignments[assignment.groupName]" name="{{assignment.groupName}}-select" required>
                  <option *ngFor="let user of assignment.users" [ngValue]="{smId: assignment.smId, userId: user.uid}">{{user.lastname}} {{user.firstname}}</option>
                </select>
              </div>
            </div>
          </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="unselectProcessModel()">Abbrechen</button>
           <button type="button" class="btn btn-primary" (click)="startProcess(selectedProcessModel.pmId, selectedUserAssignments)" [disabled]="!assignmentForm.form.valid">Starten</button>
         </div>
       </div>
     </div>
   </div> -->
</div>
