<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>IPPR</span> S-BPM</a>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile kameleon-icon with-round-bg default">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'Hacker' | baKameleonPicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><i class="dropdown-arr"></i></li>
        <li class="dropdown-item"><a href class="signout" (click)="logout()"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>
    </div>
    <!--<ba-msg-center></ba-msg-center>-->
  </div>
</div>
