.sm-nav-element {

  .sm-nav-element-header {
    background-color: #ffd1d1;
    height: 3vh;
    cursor: pointer;

    border-top: solid 1px #e5c0c0;

    .sm-nav-element-header-text {
      padding-left: 13px;
      width: 80%;
      height: inherit;
      float: left;
      text-align: left;
      line-height: 2.2em;
    }

    .sm-nav-element-header-btn {
      padding-right: 13px;
      width: 20%;
      height: inherit;
      float: left;
      text-align: right;
      line-height: 3.1em;
    }
  }

  .sm-nav-element-container {
    padding: 13px;

    .well {
      background-color: white;
      margin-bottom: 0%;
    }
  }

}
