<md-divider></md-divider>
<md-subheader class="sidenav-left-content-list-item-md-subheader md-no-sticky" layout="column">
    <div layout="row">
        <span class="sidenav-left-content-list-item-md-subheader-text" flex>{{cli.itemName}}</span>
        <md-button class="md-icon-button" ng-click="cli.isOpen = !cli.isOpen">
            <md-icon>{{cli.isOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</md-icon>
        </md-button>
    </div>
</md-subheader>
<md-list-item ng-show="cli.isOpen">
    <div layout="column" flex ng-transclude>

    </div>
</md-list-item>
