<div class="alert alert-info alert-dismissible fade in" [class.alert-danger]="msg.type === 'error'" [class.alert-success]="msg.type === 'success'" role="alert" *ngIf="msg">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    {{msg.text}}
</div>
<div class="row">
   <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-xs-12">
      <h4 *ngIf="!activeProcesses || activeProcesses.length < 1">Es gibt keine aktiven Prozesse!</h4>
      <table class="table table-striped" *ngIf="activeProcesses && activeProcesses.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Prozessname</th>
               <th>Letzte Änderung</th>
               <th>Aktion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let process of activeProcesses">
               <td>{{ process.piId }}</td>
               <td>{{ process.processName }}</td>
               <td>{{ process.lastChanged | commaDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
               <td>
                 <button class="btn btn-primary btn-sm" (click)="showProcess(process.piId)">Anzeigen</button>
               </td>
            </tr>
         </tbody>
      </table>
   </ba-card>
 </div>
