<form name="statePropertiesForm" layout="column" flex>
    <div layout="column" flex>
        <md-input-container class="md-block">
            <label>Name</label>
            <input required name="name" ng-model="project.description">
            <div ng-messages="statePropertiesForm.name.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <selection layout="row">
            <span flex>Start state</span>
            <md-checkbox></md-checkbox>
        </selection>
        <selection layout="row">
            <span flex>End subject</span>
            <md-checkbox></md-checkbox>
        </selection>
        <md-input-container>
            <md-select required placeholder="Sender of message" ng-model="tbd" md-on-open="tbd()" style="min-width: 200px;" name="senderOfMessage">
                <md-option>Test</md-option>
            </md-select>
            <div ng-messages="statePropertiesForm.senderOfMessage.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <md-select required placeholder="Message to be received" ng-model="tbd" md-on-open="tbd()" style="min-width: 200px;" name="messageToReceive">
                <md-option>Test</md-option>
            </md-select>
            <div ng-messages="statePropertiesForm.messageToReceive.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-button class="md-button md-raised md-primary">Manage message access rights</md-button>
    </div>
    <div class="properties-right-footer" layout="row">
        <md-button class="md-button md-raised md-primary" flex type="submit">Save</md-button>
        <md-button class="md-button md-raised" flex>Cancel</md-button>
    </div>
</form>
