.sidenav-left-basic-element-selector {
    box-shadow: inset 0px 0px 10px 0px rgba(230,227,230,1);
    border-radius: 5px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 300px;

    .sl-bes-sid {

        .sl-bes-sid-subject {
            margin: 10px;

            .sl-bes-sid-subject-shape {
                width: 100px;
                height: 100px;
                background-color: blue;
                margin-right: 10px;
            }

            .sl-bes-sid-subject-text {
                line-height: 100px;
            }
        }

        .sl-bes-sid-message {
            margin: 10px;

            .sl-bes-sid-message-shape {
                width: 100px;
                height: 50px;
                background-color: blue;
                margin-right: 10px;
            }

            .sl-bes-sid-message-text {
                line-height: 50px;
            }
        }
    }

    .sl-bes-sbd {

        .sl-bes-sbd-send {
            margin: 10px;

            .sl-bes-sbd-send-shape {
                width: 100px;
                height: 50px;
                background-color: red;
                margin-right: 10px;
            }

            .sl-bes-sbd-send-text {
                line-height: 50px;
            }
        }

        .sl-bes-sbd-receive {
             margin: 10px;

             .sl-bes-sbd-receive-shape {
                 width: 100px;
                 height: 50px;
                 background-color: red;
                 margin-right: 10px;
             }

             .sl-bes-sbd-receive-text {
                 line-height: 50px;
             }
         }

        .sl-bes-sbd-function {
            margin: 10px;

            .sl-bes-sbd-function-shape {
                width: 100px;
                height: 50px;
                background-color: red;
                margin-right: 10px;
            }

            .sl-bes-sbd-function-text {
                line-height: 50px;
            }
        }
    }
}
