.navigation-menu-item-md-subheader {
    .md-subheader-inner {
        padding: 0px;
    }

    .navigation-menu-item-md-subheader-text {
        padding-left: 16px;
        padding-top: 12px;
    }
}

.navigation-menu-item-md-button {
    text-align: left;
    text-transform: none;
}
